
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link3 {
  background-color: #449ed3;
}

.logo1 {
  width: 30px;
  height: 30px;
}

.logo2 {
  width: 30px;
  height: 30px;
}

.imagen-logo {
  width: 50px;
  height: 50px;
}

/* navbar */
.modal-google-facebook {
    width: 5px;

}

/* carrousel */
.carousel-caption {
  border: 3px solid var(--secundiario-cajas);
  background-color: var(--secundiario-cajas);
  color: var(--titulos-parrafos);
  padding: 15px 25px;
  position: relative;
  margin:0 auto;
}


/* categoria-de-productos */

.boton-categoria {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
}

.card-img {
  height: 135px;
  object-fit: cover;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--gris-claro);
}

.card-img-overlay {
  z-index: 1;
}
