:root {
  --primario: #66c0f4;
  --secundiario-cajas: #2a475e;
  --tercerio-precios: #a3cf06;
  --neutral-fondo:#1b2838;
  --hover:#449ed3;  
  --titulos-parrafos: #ebebeb;
  --letra-menos-importante: #666;

  /* tipografia */
  --michroma: font-family: "Michroma", sans-serif;
  --google-sans-flex: font-family: "Google Sans Flex", sans-serif;
  --elms-sans: font-family: "Elms Sans", sans-serif;


  /* tamaños de fuentes */
  --texto: 12px;
  --titulares: 24px;

  --price: 18px;
  --discount: 1rem;
  --description: 1rem;
}