:root {
  --neutral-fondo:#0f1824;
  --neutral-fondo-2:#1b2838;
  --secundiario-cajas: #2a475e;
  --primario-botones: #449ed3;
  --hover-botones: #256991;
  --tercerio-precios: #a3cf06;
  --titulos-parrafos: #ebebeb;
  --letra-menos-importante: #666;
  --azul-oscuro: #1b2838;
  --gris-claro: rgba(235, 235, 235, 0.35);

  --michroma: "Michroma", sans-serif;
  --google-sans-flex: "Google Sans Flex", sans-serif;
  --elms-sans: "Elms Sans", sans-serif;


  --texto: 13px;
  --titulares: 27px;
  --titulos-cajas:18px;

  --precio: 13px;
  --descuento: 13px;
  --descripcion: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--neutral-fondo);
    color: white;
    min-height: 100vh;
}
