*{margin:0;
padding:0;
box-sizing: border-box
}
body {
    background-color: #18181b;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.titulo-carrito {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.subtitulo {
    color: #a855f7;
    font-size: 1.2rem;
    font-weight: bold;
}


.carrito-card,
.resumen-card {
    background-color: #242428;
    border: 1px solid #3f3f46;
    border-radius: 15px;
    overflow: hidden;
}


.encabezado-card {
    background-color: #2d2d33;
    border-bottom: 1px solid #3f3f46;
    padding: 20px;
}

.encabezado-card h2 {
    font-size: 1.3rem;
    margin: 0;
    color: #ffffff;
}

.cantidad-productos {
    color: #a1a1aa;
    font-size: 0.9rem;
}


.producto {
    padding: 20px 0;
    border-bottom: 1px solid #3f3f46;
}

.producto:last-child {
    border-bottom: none;
}

.producto h3 {
    font-size: 1.1rem;
    color: #ffffff;
}

.producto p {
    color: #a1a1aa;
    margin-bottom: 0;
}


.imagen-producto {
    width: 180px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.precio {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
}

.cantidad-label {
    display: block;
    color: #a1a1aa;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.cantidad {
    background-color: #18181b !important;
    color: #ffffff !important;
    border-color: #52525b;
    text-align: center;
}

.btn-cantidad {
    background-color: #a855f7;
    color: white;
    border: none;
    font-weight: bold;
}

.btn-cantidad:hover {
    background-color: #9333ea;
    color: white;
}

.fila-resumen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #d4d4d8;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.total strong {
    color: #22c55e;
    font-size: 1.5rem;
}

.btn-pago {
    background-color: transparent;
    border: 1px solid #a855f7;
    color: #c084fc;
    padding: 12px;
}

.btn-pago:hover {
    background-color: #a855f7;
    color: white;
}

.btn-finalizar {
    background-color: #22c55e;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 12px;
}

.btn-finalizar:hover {
    background-color: #16a34a;
}

.footer {
    background-color: #111113;
    color: #71717a;
    padding: 25px;
    margin-top: 30px;
}

@media (max-width: 768px) {

    .titulo-carrito {
        font-size: 2rem;
    }

    .imagen-producto {
        height: 180px;
    }

    .producto {
        text-align: center;
    }

    .input-group {
        margin: auto;
        max-width: 150px;
    }

}